html, body, div, ul, li
 {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: arial, sans-serif;
}

ul {
    list-style: none;  
}

/* ---- nav ---- */


nav{
    margin: 15px 10px 0px 10px;
}

.Nav {
    display: flex;
    align-items: center;
}

.navImg {
    width: 16px;
    opacity: 0.75;
}

.left_nav {
    margin-right: auto;
}

nav ul li {  
    display: inline;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: black;
    opacity: 0.75;
    font-size: 13px;
}

li a:hover{
    text-decoration: underline;
}

.drive_img{
    border-radius: 50%;
}


/* ---- Main ---- */


.logo {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

/* .share {
    display: block;
    float: right;
    margin-right: 200px;
} */

form {
    display: flex;
    justify-content: center;
}

input {
    height: 45px;
    border: 1px solid rgb(210, 208, 208);
    border-radius: 25px;
    width: 450px;
    opacity: 0.75;
    padding: 0px 40px;
    background-image: url('MagGlass.png');
    background-position: 13px 13px;
    background-repeat: no-repeat;
    background-size: 20px;
    
}

.mic {
    transform: translate(-35px, 60%);
    height: 20px;
}

.mic:hover {
    cursor: pointer;
}

input:hover {
    box-shadow: 0px 0px 4px 2px rgba(199, 198, 198, 0.67);
}

.search {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.button {
    border: none;
    background-color: #f8f9fa; 
    /* padding: 10px;
    margin: 5px; */
    font-size: 14px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    padding: 0 16px;
    margin: 11px 4px;
    min-width: 54px;
    color: #3c4043;
}

.button:hover{
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
    color: #202124;
    border: 1px solid #dadce0;
}


/* ---- Footer ---- */


footer {
    position: fixed;
    width: 100%;
    background-color: #f2f2f2;
    left: 0;
    bottom: 0;
    border-top: 1px solid #dadce0;
    line-height: 40px;
}

.footer_ul {
    display: flex;
}

.carbon {
    margin-left: auto;
    margin-right: auto;
    transform: translate(-35px, 1%);
}

.leaf {
    width: 15px;
    padding-right: 8px;
}

footer ul li {
    display: inline;
    padding: 0 5px;
}

footer ul li a{
    font-size: 14px;
    color: #686d71;
}

.advertising {
    padding-left: 27px;
}

.settings {
    padding-right: 27px;
}

/* ---- Media Queries ---- */


@media (max-width: 800px) {
    .footer_ul {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 400px;
        margin: 0 auto;
    }

}